/* ==================================================
================== copy this code====================
====================== bellow ======================= */

.modal {
    color: #51586a;
}

.add-btn {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.react-datepicker-popper{
    z-index: 2001;
}

.DropdownSelector-datepicker{
    display: flex;
    width: 100%;
    background-color: #fff;
    padding: .5rem .75rem;
    font-size: 1rem;
    border-top-right-radius: 0.25rem;;
    border-bottom-right-radius: 0.25rem;;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.DropdownSelector-project {
    z-index: 2000;
}

.DropdownSelector-task {
    z-index: 1999;
}

.DropdownSelector-startTime {
    z-index: 1998;
}

.DropdownSelector-endTime {
    z-index: 1997;
}

.DropdownSelector-AdditionalCost{
    z-index: 1996;
}



.dropdown-effects {
    padding: 7px 12px;
}

.dropdown-effects-addon-btn {
    /* margin-right: -1px; */
    height: 0px;
    padding: 17px 12px;
    z-index: 3000;
}

.DropdownSelector-startTime>.Select div {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.DropdownSelector-endTime .Select div {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.DropdownSelector-AdditionalCost .Select div {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}


/* ===================================================
=======================  end  ========================
====================================================== */