/* ==================================================
================== copy this code====================
====================== bellow ======================= */
.modal{
    color: #51586a;
}

.add-btn{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* ===================================================
=======================  end  ========================
====================================================== */