/* ===================================================
================== copy this code   ==================
====================================================== */
.navbarside-main-wrapper{

}

a {
    color: #cfd2da;
}

a:hover {
    color: #fff;
}

.nav-pills .nav-link.active,
.show>.nav-pills .nav-link {
    color: #fff;
    background-color: #1998c659;
}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 0;
    padding-right: 0;
    /* Scrollable contents if viewport is shorter than content. */
}


.sidebar .nav {
    margin-bottom: 20px;
   
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item+.nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0.25rem;
}

.nav-item-unclickable{
    color: #51586a;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
}

.nav-hr{
    color: #cfd2da;
    line-height: 1.5;
    border-top: 1px solid #434857;
    margin-bottom: 30px;
}

.closebtn-wrapper{
    font-size: 1.5rem;
    margin-left: 8px;
    margin-top: 10px;
    left: 0;
    position: fixed;
}

.closebtn {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    padding: 0.2em 0.5em;
    border-radius: 50%;
}

.closebtn:hover{
    background-color:rgba(25, 151, 198, 0.3);
    outline: none;
}

.navmainclosed{
  max-width: 65px;   
}
.navmainopen{
    min-width: 200px;
}
.navlinktext{
    background-color:rgba(25, 152, 198, 0.459);
    outline: none;
    padding: 4px 10px;
    border-radius: 50%;
    font-family: 'Roboto Mono', monospace;
    color: var(--blue);
}

/* ===================================================
=======================  end  ========================
====================================================== */