
/* ==================================================
================== copy this code====================
====================== bellow ======================= */

.fa-play,
.fa-stop {
    font-size: 2.2rem;
}

.button-start {
    border-radius: .25rem;
    width: 100px;
    padding: 8px;
    text-align: center;
    background-color: #1AC98E;
    border: 1px solid #1AC98E;
    cursor: pointer;
}

.button-start:hover,
.button-start:active {
    background-color: #15a071;
    border-color: #128c63;
}

.button-stop {
    border-radius: .25rem;
    width: 100px;
    padding: 8px;
    text-align: center;
    background-color: #E64759;
    border: 1px solid #E64759;
    cursor: pointer;
}

.button-stop:hover,
.button-stop:active {
    background-color: #b83847;
    border-color: #A1303C;
}

.track-timer {
    /* font-size: 3rem; */
}

.time-started {}

.textwithline {
    overflow: hidden;
    text-align: center;
}

.textwithline:before,
.textwithline:after {
    background-color: #434857;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.textwithline:before {
    right: 0.5em;
    margin-left: -50%;
}

.textwithline:after {
    left: 0.5em;
    margin-right: -50%;
}

.dropdown-effects{
    padding: 7px 12px;
/* box-shadow: 0 0 0 1px #1BC98E; */
/* border-top: 2px solid #1BC98E; */
}
.dropdown-effects:hover{
    /* box-shadow: 0 0 0 1px #15a071;
    border-top: 2px solid #128c63; */
}
.disabled{
    cursor: not-allowed;
}    

.projectErrorClassName{
    animation: bounce 3s ease-in-out 0.33s 3;
}
.taskErrorClassName{
    animation: bounce 3s ease-in-out 0.6s 3;
}

@keyframes bounce {
    0%   {transform: translateY(0px)}
    10%  {transform: translateY(-15px)}
    15%  {transform: translateY(0px)}
    25%  {transform: translateY(-10px)}
    35%  {transform: translateY(0px)}
    45%  {transform: translateY(-5px)}
    55%  {transform: translateY(0px)}
    100% {transform: translateY(0px)}
    
}

.inputHasError{
    border-radius: 4px;
    border-left: 3px solid #ff0033;
}

.add-btn{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* ===================================================
  =======================  end  ========================
  ====================================================== */

  
