/* ==================================================
================== copy this code====================
====================== bellow ======================= */

.dropdown-menu{
    
      padding: 0;
  }
  
  .fa-play, .fa-stop{
      font-size: 2.2rem;
  }
  .button-start{
      border-radius: .25rem;
      width: 100px;
      padding: 8px;
      text-align: center;
      background-color: #1AC98E;
      border: 1px solid #1AC98E;
  }
  .button-start:hover, .button-start:active{
      background-color: #15a071;
      border-color: #128c63;
  }
  .button-stop{
      border-radius: .25rem;
      width: 100px;
      padding: 8px;
      text-align: center;
      background-color: #E64759;
      border: 1px solid #E64759;
  }
  .button-stop:hover, .button-stop:active{
      background-color: #b83847;
      border-color: #A1303C;
  }
  .track-timer{
      /* font-size: 3rem; */
  
  }
  .time-started{
  
  }
  
  .textwithline {
      overflow: hidden;
      text-align: center;
  }
  .textwithline:before,
  .textwithline:after {
      background-color: #434857;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
  }
  .textwithline:before {
      right: 0.5em;
      margin-left: -50%;
  }
  .textwithline:after {
      left: 0.5em;
      margin-right: -50%;
  }
  /* ===================================================
  =======================  end  ========================
  ====================================================== */